streamlit
streamlit-mic-recorder
faster-whisper
sounddevice
scipy
numpy
torch
google-genai
python-dotenv
pydantic
langchain
langchain-core
langchain-text-splitters
langchain-chroma
langchain-google-genai
chromadb